<meta charset="UTF-8">
<title>Pragmatic AI Labs</title>
<!-- Favicon -->
{{ with .Site.Params.favicon }}
<link rel="apple-touch-icon" sizes="152x152" href="{{ .apple_touch }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .icon_32 }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .icon_16 }}">
<link rel="manifest" href="{{ .webmanifest }}">
<link rel="mask-icon" href="{{ .safari }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="{{ .title_color }}">
<meta name="theme-color" content="{{ .theme_color }}">
{{ end }}
<!-- End of Favicon -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
<script async src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 